<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="it.mymax.demomovie2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="it.mymax.demomovie2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <it.mymax.demomovie2.My.MySettings>
            <setting name="FTPServer" serializeAs="String">
                <value>ftp.agostinoni.it</value>
            </setting>
            <setting name="FTPUsername" serializeAs="String">
                <value>1656858@aruba.it</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>e2v53fzv</value>
            </setting>
            <setting name="FTPDirectory" serializeAs="String">
                <value>\agostinoni.it\public\demomovie2</value>
            </setting>
        </it.mymax.demomovie2.My.MySettings>
    </applicationSettings>
    <userSettings>
        <it.mymax.demomovie2.My.MySettings>
            <setting name="UseCloud" serializeAs="String">
                <value>True</value>
            </setting>
        </it.mymax.demomovie2.My.MySettings>
    </userSettings>
</configuration>